 .bg {
    background-image: url("../img/210102.jpg");
 }
 .login-box {
    background:rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 6px;
    border-radius:10px;
    width:300px;
    margin:15px auto;
    padding:20px;
} 